/*   Table of contents

0. GLOBAL RESET [ +element style reset and minifixes ]
1. BASE LAYOUT  [ LAYOUT. Style of all base elements like body, wrapper, header, content, extras, footer, etc. ]
2. GLOBAL STYLE [ Global styles ]
3. CONTENT      [ All elements fully relative to content and belong to it ]
4. HEADER       [ Header, Logo, Header-Menu, etc ]
5. FOOTER       [ Copyright, developers info etc ]

(c) SublimeYe, 2011
Skype: sublimeye

--------------------------------*/

/*   0. Global reset + holy shit ;)
--------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
input,button,textarea,select{margin:0;font-size:1em}
table{border-collapse:collapse;border-spacing:0}
blockquote,q{quotes:none}
th,h1,h2,h3,h4,h5,h6{font-weight:normal}
/* CLEAR FIX*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}

/*   1. Base layout
--------------------------------*/
.wrap {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	min-width: 1000px;
}

.content {
	width: 940px;
	padding: 0 30px;
}

.g-b4:before {
	position: absolute;
	content: '';
}

.g-b4 {
	position: relative;
}

.g-a4:after {
	position: absolute;
	content: '';
}

.g-a4 {
	position: relative;
}

/*   2. GLOBAL STYLE
--------------------------------*/
.g-nowrap {
	white-space:nowrap
}
input[type='submit'] {
	height: 24px;
	padding: 0 20px;

	font-size: 14px;
	font-weight: bold;

	color: #838382;

	text-shadow: 0 1px 0 #fff;

	border: 1px solid #C6C5C6;
	-moz-border-radius: 2px;
	border-radius: 2px;

	background: #f9f8fb;
	background: -moz-linear-gradient(top, #f9f8fb 0%, #efefee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8fb), color-stop(100%,#efefee));
	background: -webkit-linear-gradient(top, #f9f8fb 0%,#efefee 100%);
	background: -o-linear-gradient(top, #f9f8fb 0%,#efefee 100%);
	background: -ms-linear-gradient(top, #f9f8fb 0%,#efefee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8fb', endColorstr='#efefee',GradientType=0 );
	background: linear-gradient(top, #f9f8fb 0%,#efefee 100%);
}

.options input[type='submit'] {
	padding: 0 25px;
}

input[type='submit']:hover {
	background: rgb(252,253,255);
	background: -moz-linear-gradient(top, rgba(252,253,255,1) 0%, rgba(242,242,242,1) 49%, rgba(239,239,238,1) 50%, rgba(239,239,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,253,255,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(50%,rgba(239,239,238,1)), color-stop(100%,rgba(239,239,238,1)));
	background: -webkit-linear-gradient(top, rgba(252,253,255,1) 0%,rgba(242,242,242,1) 49%,rgba(239,239,238,1) 50%,rgba(239,239,238,1) 100%);
	background: -o-linear-gradient(top, rgba(252,253,255,1) 0%,rgba(242,242,242,1) 49%,rgba(239,239,238,1) 50%,rgba(239,239,238,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,253,255,1) 0%,rgba(242,242,242,1) 49%,rgba(239,239,238,1) 50%,rgba(239,239,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdff', endColorstr='#efefee',GradientType=0 );
	background: linear-gradient(top, rgba(252,253,255,1) 0%,rgba(242,242,242,1) 49%,rgba(239,239,238,1) 50%,rgba(239,239,238,1) 100%);
}

input[type='submit']:active {
	box-shadow: 1px 1px 1px #ccc inset;
}

.user-comment {
	clear: both;
	border: 1px solid #DCDCDC;
	padding: 2px 20px 0 2px;
	float: left;
	width: 100%;
	min-height: 100px;
	margin-bottom: 28px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.comments-ico {
	padding-right: 5px;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.item-pic {
	display: block;
	float: left;
	width: 120px;
	min-height: 164px;
	margin-right: 5px;
	margin-left: -10px;
}

.item-desc {
	overflow: hidden;
	padding-left: 10px;
}

.item-desc h3 {
	margin-top: 5px;
}

.sh-corner {
	position: relative;
}

.sh-corner:after {
	position: absolute;
	right: -8px;
	bottom: -21px;
	content: '';
	z-index: -1;
	width: 92px;
	height: 100px;
	background: url("/tpl/img/bg_sh_corner.png") no-repeat;
}

.item-message {
	position: relative;
	padding: 0 35px;
	overflow: hidden;
}

.item-message:before {
	position: absolute;
	left: 0;
	top: 5px;
	content: '';
	width: 18px;
	height: 18px;
	background: url("/tpl/img/icons.png") no-repeat -64px -49px;
}

.item-message:after {
	position: absolute;
	right: 0;
	bottom: 5px;
	content: '';
	width: 18px;
	height: 18px;
	background: url("/tpl/img/icons.png") no-repeat -82px -49px;
}

/* icons
--------------------------------*/
.icon {
	display: inline-block;
	background: url('/tpl/img/icons.png') no-repeat;
}

.icon-social {
	width: 28px;
	height: 28px;
}

.ico-rss {background-position: 0 0}
.ico-fb {background-position: -29px 0}
.ico-vk {background-position: -57px 0}
.ico-myspace {background-position: -86px 0}
.ico-twitter {background-position: -115px 0}

.ico-phones {
	position: relative;
	top: 2px;
	width: 16px;
	height: 13px;
	background-position: -118px -30px;
	margin: 0 10px 0 0;
}

.ico-cart {
	width: 13px;
	height: 11px;
	background-position: -82px -68px;
	margin-right: 10px;
}

.ico-login {
	width: 18px;
	height: 10px;
	background-position: -64px -68px;
	margin-right: 10px;
}

.ico-search {
	position: absolute;
	top: 4px;
	left: 8px;
	width: 18px;
	height: 14px;
	background-position: -100px -29px;
}

/* buttons
--------------------------------*/
.btn {
	display: inline-block;
	background: url("/tpl/img/btn.png") no-repeat;
}

.btn:active {
	box-shadow: 1px 1px 1px #ccc inset;
}

.btn-search {
	vertical-align: top;
}

.btn-help {
	width: 25px;
	height: 24px;
	background-position: -99px 0;
	margin: 0 0 0 10px;
}

.btn-settings {
	width: 25px;
	height: 24px;
	background-position: -74px 0;
}

.btn-grad {
	position:relative;

	font-weight:bold;
	font-size:14px;
	text-align:center;

	color:#fff;

	padding:3px 13px;
	border:0;

	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-blue {
	border:1px solid #4270D8;
	border-width:1px 1px 0;
	background: #a7c2ee;
	background: -moz-linear-gradient(top, #a7c2ee 0%, #69a3e8 50%, #5494e5 51%, #68a7ea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c2ee), color-stop(50%,#69a3e8), color-stop(51%,#5494e5), color-stop(100%,#68a7ea));
	background: -webkit-linear-gradient(top, #a7c2ee 0%,#69a3e8 50%,#5494e5 51%,#68a7ea 100%);
	background: -o-linear-gradient(top, #a7c2ee 0%,#69a3e8 50%,#5494e5 51%,#68a7ea 100%);
	background: -ms-linear-gradient(top, #a7c2ee 0%,#69a3e8 50%,#5494e5 51%,#68a7ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c2ee', endColorstr='#68a7ea',GradientType=0 );
	background: linear-gradient(top, #a7c2ee 0%,#69a3e8 50%,#5494e5 51%,#68a7ea 100%);
}

.btn-green {
	border:1px solid #47AC67;
	border-width:1px 1px 0;
	background: #aedcbd;
	background: -moz-linear-gradient(top, #aedcbd 0%, #7bcc9a 50%, #66c489 51%, #7dcf9e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aedcbd), color-stop(50%,#7bcc9a), color-stop(51%,#66c489), color-stop(100%,#7dcf9e));
	background: -webkit-linear-gradient(top, #aedcbd 0%,#7bcc9a 50%,#66c489 51%,#7dcf9e 100%);
	background: -o-linear-gradient(top, #aedcbd 0%,#7bcc9a 50%,#66c489 51%,#7dcf9e 100%);
	background: -ms-linear-gradient(top, #aedcbd 0%,#7bcc9a 50%,#66c489 51%,#7dcf9e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedcbd', endColorstr='#7dcf9e',GradientType=0 );
	background: linear-gradient(top, #aedcbd 0%,#7bcc9a 50%,#66c489 51%,#7dcf9e 100%);
}

.btn-blue:hover {
	box-shadow: 2px 2px 10px #C6DEFF inset;
}

.btn-blue:active {
	box-shadow: 2px 2px 2px #4270D8 inset;
}

.btn-green:hover {
	box-shadow: 2px 2px 10px #E2F4E9 inset;
}

.btn-green:active {
	box-shadow: 2px 2px 2px #47AC67 inset;
}

.btn-leave-comment {
	clear: both;
	margin: 25px 0 10px;
}

/*   3. CONTENT
--------------------------------*/

/* slider
--------------------------------*/
.promo-slider {
	padding-top: 24px;
	height: 293px;
	background: url("/tpl/img/t_bg_promo-slider.png") repeat-x;
}

.promo-slider .wrap {
	width:960px;
}

.slider-clip {
	width: 100%;
	overflow: auto;
	height:255px;
}

.promo-slider div {
	outline:0 !important;
}

.promo-slider.no-controls .slider-clip {
	margin-top:10px;
}

.slider-list {
	width: 9900px;
}

.slider-item {
	position: relative;
	float: left;
	width: 459px;
	height: 231px;
	padding: 0 9px 0 9px;
	list-style: none;
	background: url("/tpl/img/bg_slider_item.png") no-repeat;
}

.si-link {
	display: block;
	height: 224px;
	width: 458px;
	border: 1px solid #fff;
}

.si-link:hover {
	border-color: #6A34F7;
}

.si-text {
	position: absolute;
	left: 18px;
	bottom: 20px;
	z-index: 70;
}

.si-title {
	text-decoration: underline;
	font-size: 14px;
	display:block;
}

.si-desc {
	display:inline-block;
	padding:3px 5px;
	font-size: 11px;
}

.si-pic {
	position: absolute;
	width:458px;
	height:224px;
	top: 1px;
	z-index:1;
	overflow:hidden;
}

.si-pic img {
	position: absolute;
}

.si-mask {
	position: relative;
	z-index:50;
	display: block;
}

.si-mask img {
	position: absolute;
}

.slider-controls {
	position: relative;
	top:-30px;
	width: 820px;
	margin: 10px auto 0;
	padding: 0 30px;
}

.slider-controls .scroll, .jspTrack {
	position: relative;
	height: 5px !important;
	top: 3px;

	-moz-border-radius: 10px;
	border-radius: 10px;


	background: rgb(96,201,221);
	background: -moz-linear-gradient(top, rgba(96,201,221,1) 0%, rgba(181,234,241,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,201,221,1)), color-stop(100%,rgba(181,234,241,1)));
	background: -webkit-linear-gradient(top, rgba(96,201,221,1) 0%,rgba(181,234,241,1) 100%);
	background: -o-linear-gradient(top, rgba(96,201,221,1) 0%,rgba(181,234,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(96,201,221,1) 0%,rgba(181,234,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9dd', endColorstr='#b5eaf1',GradientType=0 );
	background: linear-gradient(top, rgba(96,201,221,1) 0%,rgba(181,234,241,1) 100%);

	box-shadow: 0 0 3px #fff;

}

/*	=JSP scroll bar
__________________________________*/
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; }
.jspHorizontalBar .jspCap { float: left; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
	outline:none;
	cursor:pointer;
}

.jspContainer {
	outline:0
}

.scroll-handler, .jspDrag {
	position: absolute;
	top: -7px;

	width: 62px;
	height: 22px !important;
	background: url("/tpl/img/icons.png") -64px -80px;
}

.jspArrow {
	position:relative;
	top:-1px;
	background: url('/tpl/img/icons.png') 20px -233px;
	text-indent:-20000px;
	display:block;
	cursor:pointer;
}

.jspHorizontalBar .jspArrow {
	width: 50px;
	float: left;
	height: 100%;
}

.jspArrowRight {
	background-position:20px -258px;
}

/*
--------------------------------*/

.blog-container {
	overflow: hidden;
	clear: both;
	min-width: 1000px;
	background: url("/tpl/img/t_bg_blog_container.png");
}

.blog-container .wrap {
	width: 940px;
	padding: 0 30px;
}


.blog-container:before {
	width: 100%;
	height:2px;
	background: url("/tpl/img/t_bg_top_blog_container.png") repeat-x center top;
}

.blog-post {
	width: 370px;
	padding: 0 35px 0 35px;
	float: left;
	margin: 10px 25px 30px 0;
}

.post-title {
	margin-bottom: 10px;
}

.post-details {
	margin-top: 10px;
}

.blog-post:before {
	left: 0;
	top: 2px;
	width: 17px;
	height: 19px;
	background: url("/tpl/img/icons.png") -64px -29px;
}

.blog-post:after {
	right: 0;
	bottom: 15px;
	width: 17px;
	height: 19px;
	background: url("/tpl/img/icons.png") -83px -29px;
}

/* catalog
--------------------------------*/
.catalog {
	clear: both;
	margin: -50px -20px 50px;
	padding-left: 20px;
	width: 110%;
	font-size:0;
}

.catalog .item {
	display: inline;
	padding: 0 16px 0 0;
	margin-right: -.3em;
	font-size:0;
}

.catalog .item img {
	display:block;
}

.catalog, .item-head, .item-foot {
	display: inline-block;
}

.catalog .item-head {
	width: 172px;
}

.catalog .item-head {
	position: relative;
	margin-bottom: 45px;
	vertical-align: top;
	border: 1px solid #D9D9D9;
	border-bottom-width: 0px;
	margin-top: 50px;
}

.catalog .item-pic {
	position: relative;
	margin: 2px 2px 0;
}

.catalog .item-foot {
	width: 128px;
	height: 42px;
	margin-left: -174px;
	padding: 0 22px;
	color: #aaa;
	border: 1px solid #D9D9D9;
	border-top: 0;
	vertical-align: bottom;
}

.catalog .item-size {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 158px;
	padding: 2px 5px;
	background: #EEEEEE;
	background: rgba(238,238,238,.75);

	text-align: center;
}

.catalog .item-title {
	display: inline-block;
	margin-bottom: 5px;
	margin: 10px 22px 5px;
}

.catalog .item-foot:before {
	display: block;
	content: '';
	position: absolute;
	top: -150%;
	left: -1px;
	width: 100%;
	height: 200%;
	border: 1px solid #d9d9d9;
	border-width: 0 1px;
	z-index: -1;
}

.addon-ico {
	display: none;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 63px;
	height: 64px;
	background: url("/tpl/img/icons.png") no-repeat;
}

.addon-new .addon-ico {
	display: block;
	background-position: 0 -29px;
}

.addon-sale .addon-ico {
	display: block;
	background-position: 0 -93px;
}

.addon-offer .addon-ico {
	display: block;
	background-position: 0 -159px;
}

/*   4. HEADER
--------------------------------*/
.header {
	min-width: 1000px;
	height: 137px;
	background: url('/tpl/img/t_bg_header.png') repeat-x center top;
}

.top-bar {
	height: 57px;
	padding: 0 30px;
}

.nav-container {
	height: 80px;
	padding: 0 30px 0 20px;
}

.logo {
	width: 300px;
	float: left;
	margin-top: 10px;
	text-decoration: none;
	color: #83BCDB;
}


.logo:hover {
	color: #8CB3DE;
	text-decoration: underline;
}

.phones, .actions {
	padding-top: 19px;
}

.phones {
	float: left;
	width: 300px;
	margin-left: 70px;
}

.actions {
	float: right;
}

.actions .cart {
	float: left;
}

.actions .login {
	float: left;
}

.actions .splitter {
	float: left;
	height: 14px;
	margin: 0 14px;

	border-left: 1px solid #62676B;
	border-right: 1px solid #3C4145;

}

.tools {
	float: right;
	padding-top: 12px;
}

.search-bar {
	position: relative;
	float: left;
	vertical-align:top;
}

.search-bar form {
	float: left;
}

.search-field, .main-column-right input[type="text"], .main-column-right input[type="password"] {
	width: 160px;
	height: 20px;
	margin-right: 10px;
	padding-left: 28px;
	vertical-align: top;
	color: #666;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #cacaca inset;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 50%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 50%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 50%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 50%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: linear-gradient(top, #ffffff 50%,#ededed 100%);
}

.main-column-right input[type="text"], .main-column-right input[type="password"] {
	padding-left: 10px;
	width: 190px;
	outline: 0;
}

select {
	background: 1px solid #ccc;
}

textarea {
	color: #666;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #cacaca inset;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 50%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 50%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 50%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 50%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: linear-gradient(top, #ffffff 50%,#ededed 100%);
}

.main-nav {
	position: relative;
	float: left;
}

.main-nav li {
	float: left;
}

.main-nav > li {
	height: 49px;
	line-height: 49px;
}

.main-nav > li > a {
	display: block;
	height: 100%;
	line-height: 49px;
	padding: 0 10px;
	border-right: 1px solid #CFCFCF;
}

.main-nav .current {
	background: url("/tpl/img/t_bg_nav_current.png");
}

.current .sub-nav {
	display: block;
}

.sub-nav {
	position: absolute;
	top: 100%;
	margin-top: 5px;
	left: 0;
	display: none;
	white-space: nowrap;
	width: 900px;
}

.sub-nav a {
	display: block;
	padding: 2px 10px;
	border-right: 1px solid #C6C6C6;

}

/* footer
--------------------------------*/
.footer {
	clear: both;
	min-width: 1000px;
	height: 141px;
	padding-top: 40px;
	background: url("/tpl/img/t_bg_footer.png") repeat-x center top;
}

.footer .wrap {
	padding: 0 30px;
	width: 940px;
}

.footer .left-column {
	float: left;
	width: 450px;
}

.footer .right-column {
	float: right;
	width: 440px;
}

.f-notice {
	margin-bottom: 5px;
}

.f-cloudy {
	display: inline-block;
	width: 153px;
	height: 35px;
	padding-left: 13px;
	line-height: 44px;
	background: url("/tpl/img/bg_cloudy.png") no-repeat;
	
}

.policy {
	margin: 10px 0 27px 0;
	line-height: 1.2;
}

.social-container .icon {
	margin-right: 5px;
}