/*	=product preview styles
__________________________________*/

.stock-num {
	float:right;
	margin-top:20px;
	line-height:34px;
}

.product {
	margin-top:25px;
	margin-left:10px;
	clear:both;
	/*overflow:hidden;*/
	width:736px;
}

.product-unwrap {
	width:2500px;
}

.product-preview {
	margin-right:25px;
}

.product-preview-thumbs {
	float:left;
	position:relative;
	width:52px;
	margin-right:18px;
	padding:20px 0;
}

.main-column-right .product-preview-thumbs li {
	position:relative;
	list-style:none;
	background:none;
	padding-left:0;
	margin-bottom:0;
}

.main-column-right .ppreview-list {
	margin:0;
}

.ppreview-list-wrap {
	overflow: hidden;
}

.ppreview-list {
	position: relative;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.product-preview-thumbs .overlay {
	display:none;
	position:absolute;
	z-index:10;
	left:0;
	right: 0;
	top:0;
	/*width:100%;*/
	
	height:100%;
	/*background: url("/tpl/img/bg_product_overlay.png") no-repeat;*/
	border-left: 1px solid #FF8400;
	border-right: 1px solid #FF8400;
}

.thumb-item {
	position: relative;
}

.thumb-item a {
	border: 1px solid white;
	border-width: 0 1px;
	display: block;
	margin-bottom: 5px;
}

.thumb-item img {
	display: block;
}

.thumb-item a.current:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 1px;
	right: 1px;
	height: 100%;
	border: 1px solid #8C8B8A;
	border-width: 0 1px;
	z-index: 10;
	border-color: #5C5B5A;
}

.thumb-item a:hover:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 1px;
	right: 1px;
	height: 100%;
	border-color: #ff8400 !important;
	border: 1px solid #FF8400;
	border-width: 0 1px;
	z-index: 10;
	border-color: #5C5B5A;
}

.thumb-item a.current:hover:after {
	border-color:  #8C8B8A !important;
}
.product-preview-thumbs li:hover .overlay {
/*	display:block;*/
}

.video {
	position:relative;
	cursor:pointer;
	border: 1px solid white;
}

.video:hover .video-overlay {
	display:block;
}

.video-overlay {
	display:none;
	position:absolute;
	width:22px;
	height:22px;
	top:50%;
	left:50%;
	margin-top:-13px;
	margin-left:-12px;
	background: url('/tpl/img/ico_video_overlay.png') no-repeat;
}

.product-preview-thumbs.no-controls {
	padding:0;
}

.no-controls .ppreview-controls {
	display:none;
}

.ppreview-prev, .ppreview-next {
	position:absolute;
	left:50%;
	margin-left:-12px;
	width:25px;
	height:13px;
	cursor:pointer;
}

.ppreview-prev {
	top:0;
	background:url("/tpl/img/ico_product_preview_prev.png") no-repeat;
}

.ppreview-next {
	bottom:0;
	background:url("/tpl/img/ico_product_preview_next.png") no-repeat;

}

/*	=image block
__________________________________*/
.product-image-link {
	outline:0;
	border:0;
	width: 300px;
	height: 450px;
	display:block;
	cursor: url('zoomin.cur'), pointer;
	*cursor: url(zoomin.cur);
}

.product-image-link img {
	width: 100%;
	height: 100%;
}

.zoomed .product-image-link {
	cursor: url('zoomout.cur'), pointer;
	*cursor: url(zoomout.cur);
}

.product-preview {
	float:left;
}

.product-preview-pic {
	border:1px solid #D7D7D7;
	padding:2px;
}

.product-preview-pic img {
	display:block;
}

.preview-caption {
	position:absolute;
	bottom:2px;
	left:2px;
	width:228px;
	width:100%;
	padding:5px 0;

	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpiOHHixGaAAAMAB8ADDFRL3QAAAAAASUVORK5CYII=);
	background:rgba(200,200,200,.7);
	opacity:.6;

}

.preview-caption span {
	margin:5px 55px 5px 10px;
}

.product-preview .ico-zoom {
	position:absolute;
	z-index:1;
	width:38px;
	height:38px;
	bottom:2px;
	right:0;
	cursor: url('zoomin.cur'), pointer;
	*cursor: url(zoomin.cur);

	background:url("/tpl/img/ico_product_preview_zoom.png");
}

.zoomed .ico-zoom {
	background:url("/tpl/img/ico_product_preview_unzoom.png");
	cursor: url('zoomout.cur'), pointer;
	*cursor: url(zoomout.cur);}

.product-details {
	position:relative;
	float:left;
	width:336px;
}

.product-actions {
	float:left;
	margin-top:20px;
	width:300px;
	white-space: nowrap;
}

.btn-container {
	position:relative;
}

.product-actions button {
	position:relative;
	margin-left:30px;
	/*height: 32px;*/
	line-height: 15px;
	/*padding-bottom: 6px;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-tocart {
	padding-left:30px;
}

.product-actions .btn-tocart {
	margin-left:0;
}

.btn-container .ico {
	position:absolute;
	top:-2px;
	left:5px;
	width:19px;
	height:15px;
	background:url("/tpl/img/ico_btn_cart.png") no-repeat;
}

/*	=product details
__________________________________*/
.product-price-table {
	width:100%;
	margin-bottom:10px;
}

.product-brand {
	position:relative;
	padding:3px 15px;
	top:-5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#D7D7D7;
}

.product-brand .i-cloud {
	position:absolute;
	bottom:-9px;
	left:7px;
	border-color:#d7d7d7 transparent transparent #D7D7D7;
	border-style:solid;
	border-width:5px 5px 5px 7px;
	height:0;
	width:0;
}

/*	=product data
__________________________________*/
.product-data {
	margin-bottom:10px;
}

.main-column-right .product-data ul {
	margin:0;
}

.main-column-right .product-data li {
	background:none;
	padding-left:0;
	margin-bottom:0;
}

.content .product-data p {
	margin-bottom:1ex;
	line-height:1.6em;
}

.product-data h4 {margin:5px 0 5px 0;}

.product-chosen-options {
	margin:10px 0;
}

.content .product-chosen-options p {
	margin-bottom:1ex;
}

/*	=colours
__________________________________*/

.main-column-right .product-item-selector li, .psize-item {
	position:relative;
	display:inline-block;
	padding:5px 5px 3px 5px;
	list-style:none;
	background:#F4F4F4;
	border:1px solid #E3E3E3;
	border-width:1px 0;
	cursor:pointer;
}

.current .psize-item, .product-size-list li:hover .psize-item, .product-item-selector li:hover, .product-item-selector .current {
	background:#D7D7D7;
}

.product-item-selector li:before, .product-item-selector li:after, .psize-item:before, .psize-item:after {
	position:absolute;
	content:'';
	left:0;
	width:100%;
	height:1px;
	background:#fff;
}

.product-item-selector li:before, .psize-item:before {
	top:1px;
}

.product-item-selector li:after, .psize-item:after {
	bottom:1px;
}

/*	=sizes
__________________________________*/
.product-size {
	margin:-5px 0 20px 0;
}

.product-size-grid {
	margin-top:26px;
}

.main-column-right .product-size-list {
	position:relative;
}

.product-size-list .current .psize-item {
	border-color: #313131;

}

.product-colour-list .current {
	border-color: #313131 !important;
}

.product-size-list li {
	list-style:none;
	display:inline-block;
}

.product-size-list .psize-desc {
	position:absolute;
	left:0;
	top:100%;
	margin-top:2px;
	padding:1px 10px;
	white-space:nowrap;
	z-index:1;
	background:#D7D7D7;
}

.product-size-list li:hover .psize-desc, .product-size-list .current .psize-desc {
	display:block;
}

.product-size-list li:hover .psize-desc {
	z-index:10;
}

.product-size-list .psize-desc {
	display:none;
}

/*	=popup for video
__________________________________*/
.video-popup {
	display:none;
	position:absolute;
	left:75px;
	top:105px;
	background:#fff;
	padding:30px 3px 0 3px;
	box-shadow: 1px 1px 7px #333;
	z-index:999;
}

.video-popup .i-cloud {
	position:absolute;
	top:-6px;
	left:-29px;
	width:29px;
	height:32px;
	background:url("/tpl/img/bg_cloudy_corner.png");
}

.btn-close {
	position:absolute;
	right:4px;
	top:4px;
	width:17px;
	height:16px;
	background:url("/tpl/img/ico_close_popup.png") no-repeat;
	cursor:pointer;
}

.video-popup img {
	display:block;
}

/*	=tempstyle
__________________________________*/
.product-size-grid-container  {
	margin:15px 0 0;
}
.product-size-grid-container td {
	padding:5px 3px;
	border:1px solid #ccc;
}
.product-size-grid-container tr td:first-child {
	width: 60px;
}


/*	=colours
__________________________________*/
.c1 {color: #65B5BA}
.c2 {color: #6EADA6}
.c3 {color: #71A697}
.c4 {color: #7C9D83}
.c5 {color: #869B77}
.c6 {color: #9F9E74}
.c7 {color: #AEA174}
.c8 {color: #B08C4F}
.c9 {color: #CD8234}
.c10 {color: #D57D2C}
.c11 {color: #DE7928}
.c12 {color: #E57526}
.c13 {color: #65B5BA}